Host KhabirBastion
HostName 192.168.1.33
User cloud-user
ProxyCommand ssh -q khuddin@195.148.31.234 nc %h %p
# This following options do not work.
# ProxyCommand ssh -L 8080:192.168.1.33:80 localhost

Host bastion1
HostName 192.168.1.48
User cloud-user
ProxyCommand ssh -q cloud-user@195.148.31.234 nc %h %p
# This following options do not work.
# ProxyCommand ssh -L 8081:192.168.1.48:80 localhost
