# Host bastion
Host bastion
  HostName 195.148.31.234

# KhabirBastion is the node name
# in pouta.csc.fi
Host node1
  HostName 192.168.1.33
  user khabir

# bastion1 is the node name
# in pouta.csc.fi
Host node2
  HostName 192.168.1.48
  user khuddin

# KhabirDocker is the node name
# in pouta.csc.fi
Host node3
  HostName 192.168.1.49
  user khabir

# khabirnc is the node name
# in pouta.csc.fi
Host node4
  HostName 192.168.1.21
  user khabir

Host node*
  ProxyCommand ssh -F ssh.config -q bastion nc %h 22
  StrictHostKeyChecking no

# Settings for floating IPs.
Host 195.148.31.* 86.50.169.*
  StrictHostKeyChecking no
  User cloud-user
  ForwardAgent no

# servers
Host *
  ProxyCommand ssh -F ssh.config -q bastion nc %h 22
  PasswordAuthentication no
  ForwardAgent no
  GSSAPIAuthentication no
  ControlMaster auto
  ControlPersist 30m
  StrictHostKeyChecking yes
