# Host bastion
Host bastion
  HostName 195.148.31.234
  User cloud-user

# KhabirBastion is the node name
# in pouta.csc.fi
Host node1
  HostName 192.168.1.33

# bastion1 is the node name
# in pouta.csc.fi
Host node2
  HostName 192.168.1.48

# KhabirDocker is the node name
# in pouta.csc.fi
Host node3
  HostName 192.168.1.49

# khabirnc is the node name
# in pouta.csc.fi
Host node4
  HostName 192.168.1.21

Host node*
  ProxyCommand ssh -F ssh.config -q bastion nc %h 22
  User cloud-user
  StrictHostKeyChecking no

# Settings for floating IPs.
Host 195.148.31.* 86.50.169.*
  StrictHostKeyChecking no
  User cloud-user

# servers
Host *
  PasswordAuthentication no
  ForwardAgent no
  GSSAPIAuthentication no
  ControlMaster auto
  ControlPersist 30m
  StrictHostKeyChecking no
